@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Koob</h1>
    <p class="lead">Koob es una pagina que te facilita el intercambio de libros que ya no usas, para adquirir uno nuevo el cual te puede aportar nuevos conociemientos</p>
</div>
    @Html.Action("Index", "Libro")

