@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Koob</h1>
    <p class="lead">Koob es una pagina que te facilita el intercambio de libros que ya no usas, para adquirir uno nuevo el cual te puede aportar nuevos conociemientos</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Libros disponinles</h2>
        <p>
            Vista parcial de libros aqui
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mas libros</h2>
        <p>Vista parcial de libros disponibles aqui</p>
        
    </div>
</div>